.settingsContainer {
  display: flex;
  justify-content: flex-start;
  column-gap: 15rem;
}

/* .settingsNavbar {
  position: static;
  z-index: -1;
} */

.settingsBox {
  position: absolute;
  /* margin: 1rem; */
}
