.settingsContainer {
  display: flex;
  justify-content: flex-start;
  column-gap: 10rem;
}

.cardContainer {
  justify-content: center;
  margin-top: 10rem;
}

.settingsBox {
  position: absolute;
  /* margin: 1rem; */
  flex-shrink: inherit;
  background-color: rgb(228, 230, 231);
}
